@import 'variables';
@import 'mixins';

h1 {
  font-family: $font-primary;
  font-size: 200px;
  color: $black;
  padding: 0 5rem 0;
  overflow: hidden;
}

h2 {
  font-family: $font-primary;
  font-size: 85px;
  color: $black;
}

h3 {
  font-family: $font-primary;
  font-size: 50px;
  color: $black;
}

p {
  font-family: $font-secondary;
  font-weight: 300;
}

h1, h2, h3, p {
  margin-bottom: 0;
}

table {
  margin-left: -85px;

  td, th {
    border: none;
  }
}

.button-dark {
  font-family: $font-secondary;
  background-color: $black;
  color: $white;
  border-radius: 48px;
  font-weight: 300;
  padding: 10px 20px;
  display: inline-block;
  margin: 10px 10px 0 0;
}

.big {
  font-size: 250px;
}

.bold {
  font-weight: 400;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.h2-wrapper {
  overflow: hidden;
}

.scroll-anchor {
  position: absolute;
  bottom: 1rem;
  width: 100vw;
  color: $white;
  text-align: center;

  p {
    text-decoration: underline;
    margin-bottom: 10px;
    transition: opacity 0.25s $curve;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      transition: opacity 0.25s $curve;
    }
  }

  img {
    margin: 0;
  }
}

.icon {
  transform: translateY(3px);
}

.text-highlight {
  text-decoration: underline;
  position: relative;
  color: $black;
  transition: opacity 0.25s $curve;

  &:hover {
    opacity: 0.5;
    transition: opacity 0.25s $curve;
  }
}

.header {
  padding: 2rem 3rem;
  opacity: 1;
  z-index: 999;
  width: 100vw;
  position: fixed;

  .header-inner {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      img {
        margin-bottom: 0;
        background-color: white;
        padding: 0 10px 0 0;
      }
    }

    &.collapsed {
      .header-links {
        transform: translateX(100%);
        transition: transform 0.75s $curve 0.25s;
      }

      .control-dot {
        transition-delay: 0.5s;
        opacity: 1;
        pointer-events: auto;
      }
    }

    .header-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: $white;
      padding: 10px 0;
      transition: transform 0.5s $curve 0.25s;

      .link {
        margin: 0 0 0 1.5rem;
        transition: opacity 0.25s $curve;

        &:hover {
          opacity: 0.5;
          transition: opacity 0.25s $curve;
        }

        &.selected {
          a {
            color: $black;
            text-decoration: underline;
          }

          &:hover {
            opacity: 1;
          }
        }

        a {
          color: $black;
          text-decoration: none;
        }
      }
    }

    .control-dot {
      background-color: $black;
      display: inline-block;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      right: 0;
      margin: 0 3rem 0 0;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.25s $curve 0s;

      &:hover {
        opacity: 0.5;
        transition: opacity 0.25s $curve 0s;
      }
    }
  }
}

.section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  top: 0;
  left: 0;
}

.content {
  width: 60vw;
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 40vh;
  transform: translateY(-50%);
}

.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding: 150px 100px;
}

.control-dot {
  height: 10px;
  width: 10px;
  background-color: $gray;
  display: inline-block;
  border-radius: 50%;
  margin: 1rem 7px;
  cursor: pointer;

  &.selected {
    background-color: $black;
  }
}

.carousel {
  .controls {
    text-align: center;
  }
}

.landing-quote {
  background-color: $black;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1, p {
    color: $white;
  }

  .h1-wrapper {
    overflow: hidden;

    h1 {
      // transition: transform 0.5s $curve 0.25s;
      // @include transform(translateY(100%));
    }
  }
}

.landing {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

    h2 {
      text-align: center;
    }
  }

  .scroll-anchor {
    color: $black;
    text-align: center;

    p {
      color: $black;
    }
  }

  .diversity-graph-container {
    opacity: 0;

    .diversity-graph {
      display: flex;
      justify-content: space-between;
      width: 50vw;
      min-width: 700px;
      max-width: 900px;
      margin: 3rem auto;
      height: 345px;
      position: relative;

      .legend {
        position: absolute;
        top: 0;
        right: 0;

        p {
          &::before {
            margin-top: 4px;
            content: '';
            height: 1rem;
            width: 1rem;
            left: -25px;
            position: absolute;
            background-color: $black;
          }

          &:nth-child(2)::before {
            background-color: $gray;
          }
        }
      }

      .bar-container {
        display: flex;
        align-items: flex-end;
        position: relative;

        p {
          margin-top: 10px;
          position: absolute;
          transform: translateY(100%);
          text-align: center;
          width: 100%;
        }

        .bar {
          width: 70px;

          h3 {
            text-align: center;
            @include transform(translateY(-100%));
          }
        }

        .tech {
          background-color: $black;
        }

        .population {
          background-color: $gray;
          margin-left: -10px;
        }

        &.white-americans {
          .tech {
            height: 345px;
          }

          .population {
            height: 320px;
          }
        }

        &.asian-americans {
          .tech {
            height: 70px;
          }

          .population {
            height: 30px;
          }
        }

        &.hispanics {
          .tech {
            height: 40px;
          }

          .population {
            height: 70px;
          }
        }

        &.african-americans {
          .tech {
            height: 35px;
          }

          .population {
            height: 70px;
          }
        }
      }
    }

    &.animated {
      opacity: 1;

      h2 {
        animation: text-reveal 0.5s ease both 0.25s;
      }

      .diversity-graph {
        .legend {
          animation: bar-val-anim 0.5s ease both 1s;
        }

        .bar-container {

          p {
            animation: bar-val-anim 0.5s ease both 1s;
          }

          .bar {
            animation: bar-anim 0.5s $curve both 0.6s;

            h3 {
              animation: bar-val-anim 0.5s ease both 0.6s;
            }
          }
        }
      }
    }
  }

  .diversity-women {
    opacity: 0;
    text-align: center;

    .diversity-women-1, .diversity-women-2, .diversity-women-3 {
      text-align: center;
      max-width: 500px;
      height: 500px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .diversity-women-1 {
      h1 {
        margin-top: -2rem;
      }
    }

    .diversity-women-2 {
      .facts {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin: 0 0 2rem 0;

        .fact-left, .fact-right {
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $white;
        }

        .fact-left {
          background-color: $black;
          width: 300px;
          height: 300px;
          @include transform(translateX(20px));

          h1 {
            font-size: 150px;
            color: $white;
          }
        }

        .fact-right {
          background-color: $gray;
          width: 200px;
          height: 200px;
          @include transform(translateX(-20px));

          h2 {
            font-size: 100px;
            color: $white;
          }
        }
      }
    }

    &.animated {
      opacity: 1;

      .h2-wrapper {
        h2 {
          animation: text-reveal 0.5s ease both 0s;
        }
      }

      .diversity-women-1, .diversity-women-2, .diversity-women-3 {
        animation: carousel-reveal 0.5s ease both 0.5s;
      }
    }
  }

  .welcome {
    width: 60vw;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .content-text {
      @include transform(translateX(-2rem));

      h2 {
        text-align: left;
        margin-bottom: 10px;
      }
    }

    img {
      height: 300px;
      @include transform(translateX(2rem));
    }
  }
}

.companies-page {
  .companies {
    h2 {
      margin-bottom: 2rem;
    }

    .companies-container {
      display: grid;
      grid-gap: 3rem 2rem;
      grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );

      .company {
        h3 {
          margin: 20px 0;
        }

        .company-title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .place {
          position: absolute;
          @include transform(translateY(-100%));
        }

        .avi-container {
          height: 250px;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}

.people-page {
  .people {
    h2 {
      margin-bottom: 2rem;
    }

    .people-container {
      display: grid;
      grid-gap: 3rem 2rem;
      grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );

      .person {
        h3 {
          margin: 20px 0;
        }

        .person-title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          a {
            text-decoration: none;
          }

          img {
            margin: 0 10px 0 0;
          }
        }

        .avi-container {
          height: 350px;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}

@include width-above(desktop-md) {
  h1 {
    font-size: 250px;
    padding: 0 5rem 0;
  }

  .big {
    font-size: 300px;
  }
}

@include width-above(desktop-xl) {
  h1 {
    font-size: 300px;
    padding: 0 10rem 0;
  }

  h2 {
    font-size: 100px;
  }
}

@include height-above(xl) {
  .container {
    position: relative;
    width: 100vw;
    padding: 200px 150px;
  }

  .landing {
    .diversity-graph-container {
      .diversity-graph {
        margin: 5rem auto;
      }
    }
  }
}

@keyframes header-anim {
  from {
    transform: translateY(50%) rotate(15deg);
    opacity: 0;
  }
}

@keyframes carousel-reveal {
  from {
    transform: translateX(15%);
    opacity: 0;
  }
}

@keyframes text-reveal {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
}

@keyframes bar-anim {
  from {
    height: 0;
  }
}

@keyframes bar-val-anim {
  from {
    opacity: 0;
  }
}
